{% render 'partials/head.liquid', title: 'Home' %}

<script>
    document.documentElement.classList.replace('no-js', 'js');
</script>

<link rel="stylesheet" href="./styles/home.css">

<header class="header">
    
<div class="scroll-up">
    <h1>Jules Bruins</h1>
    <p>frontender design & development</p>
    <svg width="32" height="50" viewBox="0 0 32 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.1895 31.9961H12.2402L16 35.8242L19.7598 31.9961H21.8105L17.1621 37.875H14.8379L10.1895 31.9961Z" fill="white"/>
        <path d="M10.1895 26.9961H12.2402L16 30.8242L19.7598 26.9961H21.8105L17.1621 32.875H14.8379L10.1895 26.9961Z" fill="white"/>
    </svg>
</div>

    {% comment %} pas zichtbaar laten worden na scroll {% endcomment %}
    <nav class="navigation">
        <ul>
            <li><a href="/about">about</a></li>
            <li><a href="/portfolio">portfolio</a></li>
            <li><a href="">markdowns we-love-web</a></li>
        </ul>
    </nav>
</header>



<main class="static-content">
    {% comment %} <picture>
        <source type="image/avif" srcset="">
        <source>
        </picture> {% endcomment %}
        
        <img src="/assets/images/photo-brother-bw.png" alt="">
        <img src="/assets/images/photo-fam-bw.png" alt="">
    
        {% comment %} <picture>
        <source type="image/avif" srcset="./public/assets/photo-no-color.avif"  media="(min-width: 900px)">
        <source type="image/avif" srcset="./public/assets/photo-brother-color.avif"  media="(min-width: 700px)">
        <source media="(orientation: portrait)" type="image/avif" srcset="./public/assets/photo-fam-color.avif"  media="(min-width: 500px)">
        <img src="./public/assets/photo-no-color.jpg" alt="" width="300" height="400" decoding="async">
    </picture> {% endcomment %}
</main>

<script src="./scripts/home.js"></script>

{% render 'partials/foot.liquid' %}