{% render 'partials/head.liquid', title: 'Home' %}

<link rel="stylesheet" href="./styles/home.css">

<body>
    <header>
        <h1>Jules I love Web</h1>
        <p>Hi en welkom op mijn i love web pagina. Hier kan je meer te weten komen over mij, mijn werk en hou ik mijn
            learning journal bij. Mijn site heeft als inspiratiebron een bullet journal.</p>
    </header>

    <article class="introduction">
        <h2>About me</h2>
        <img src="./assets/selfie-me.jpg" alt="Jules Bruins" class="bottom-corner">
        <p>Om mijn online journal te starten is het wel leuk om wat over mezelf te vertellen.
            Ik ben Jules, ik ben 18 jaar en fun fact.. jarig op koningsdag.
            Ik kom van het VWO af en woon in Apeldoorn. Rij elke dag op het scootertje, alhoewel heb ik sinds kort ook
            mn auto rijbewijs en geniet ik hier ook wel van.
            <br><br>Verder heb ik heel wat jaren aan kickboksen gedaan met personal training, tegenwoordig volg ik soms
            wat groepslessen hiervan en train ik ook lekker zelf.
            Ik ben verder ook dol op gezelligheid, ben graag met <a href="/about" class="text-link">familie
                of vrienden</a>.
            De momenten waar ik altijd naar uitkijk zijn de dagen in de zomer, lekker rondrijden, spontane plannen,
            terrassjes, zwemmen dat alles.
            Dit is heel kort wat over mij, maar uiteraard gaat het op mijn site over mijn werk.
        </p>
    </article>

    <article class="explanation">
        <h2>Wat is een 'bullet journal'?</h2>
        <p>Een bullet journal kan op meerdere manieren gebruikt worden.
            Persoonlijk gebruik ik het om mijn leukste herinneringen en speciale momenten in te bewaren.
            Ik maak dan gebruik van foto's en leuke kleuren en tekeningen op een pagina.
            Lekker knippen en plakken met allerlei papiertjes.
        </p>
    </article>

    <article class="portfolio">
        <h2>My portfolio</h2>
        <a class="btn-link" href="https://julesbruins.github.io/fix-the-flow-interactive-website/">
            <img src="assets/dda-logo.png" alt="dutch digital agencies">
            <span>Website voor DDA</span>
        </a>

        <a class="btn-link"
            href="https://julesbruins.github.io/the-startup-responsive-interactive-website/careers.html">
            <img src="assets/drukwerkdeal-logo.jpeg" alt="Drukwerkdeal">
            <span>Website voor Drukwerkdeal</span>
        </a>

    </article>
</body>

</html>