{% render 'partials/head.liquid', title: 'Portfolio' %}

<link rel="stylesheet" href="./styles/portfolio.css">

{% comment %} <div class="gradient-ellipse-1"></div>
<div class="gradient-ellipse-2"></div> {% endcomment %}
<div class="gradient-ellipse-3"></div>

<header>
    <h1>portfolio</h1>
    <p>my work in a timeline</p>
</header>

<section>
    <ul>
        <li>
            <div class="text">
                <h2>drop & heal (PUI)</h2>
                <p>12/05/2025 - 30/05/2025</p>
            </div>
            <a href="/portfolio/drop-heal-PUI">
                <picture>
                    <source type="image/avif" src="/assets/images/portfolio/d&h-PUI-M.avif">
                    <source type="image/webp" src="/assets/images/portfolio/d&h-PUI-M.webp">
                    <img src="/assets/images/portfolio/d&h-PUI-M.png" alt="" height="1506" width="1758"/>
                </picture>
            </a>
            <a href="">read all about it</a>
        </li>
        <li>
            <div class="text">
                <h2>drop & heal</h2>
                <p>03/03/2025 - 09/05/2025</p>
            </div>
            <a href="/portfolio/drop-heal-UE">
                <picture>
                    <source type="image/avif" src="/assets/images/portfolio/d&h-UE-M.avif">
                    <source type="image/webp" src="/assets/images/portfolio/d&h-UE-M.webp">
                    <img src="/assets/images/portfolio/d&h-UE-M.png" alt="" height="1504" width="1760"/>
                </picture>
            </a>
            <a href="">read all about it</a>
        </li>
        <li>
            <div class="text">
                <h2>drukwerkdeal</h2>
                <p>06/01/2025 - 24/01/2025</p>
            </div>
            <a href="/portfolio/drukwerkdeal">
                <picture>
                    <source type="image/avif" src="/assets/images/portfolio/drukwerkdeal-M.avif">
                    <source type="image/webp" src="/assets/images/portfolio/drukwerkdeal-M.webp">
                    <img src="/assets/images/portfolio/drukwerkdeal-M.png" alt="" height="1506" width="1760"/>
                </picture>
            </a>
            <a href="">read all about it</a>
        </li>
        <li>
            <div class="text">
                <h2>dda agency</h2>
                <p>06/01/2025 - 24/01/2025</p>
            </div>
            <a href="/portfolio/dda-agency">
                <picture>
                    <source type="image/avif" src="/assets/images/portfolio/dda-home-M.avif">
                    <source type="image/webp" src="/assets/images/portfolio/dda-home-M.webp">
                    <img src="/assets/images/portfolio/dda-home-M.png" alt="" height="1506" width="1762"/>
                </picture>
            </a>
            <a href="">read all about it</a>
        </li>    
</ul>
</section>



{% render 'partials/foot.liquid' %}