{% render 'partials/head.liquid', title: 'Portfolio' %}

<link rel="stylesheet" href="./styles/portfolio.css">

<header>
    <h1>portfolio</h1>
    <p>my work in a timeline</p>
</header>
<button class="scroll-btn left">&#8592;</button>
<button class="scroll-btn right">&#8594;</button>

<main class="horizontal-scroll">
  <article>
    <h2>dda agency 1</h2>
    <iframe src="https://user-experience-enhanced-website-pvnn.onrender.com/" frameborder="1"></iframe>
    <p>jan '25 - dec '26</p>
    <img src="https://via.placeholder.com/300x150" alt="Image 1" />
  </article>
  <article>
    <h2>dda agency 2</h2>
    <p>jan '25 - dec '26</p>
    <img src="https://via.placeholder.com/300x150" alt="Image 2" />
  </article>
  <article>
    <h2>dda agency 3</h2>
    <p>jan '25 - dec '26</p>
    <img src="https://via.placeholder.com/300x150" alt="Image 3" />
  </article>
  <article>
    <h2>dda agency 4</h2>
    <p>jan '25 - dec '26</p>
    <img src="https://via.placeholder.com/300x150" alt="Image 4" />
  </article>
  <article>
    <h2>dda agency 5</h2>
    <p>jan '25 - dec '26</p>
    <img src="https://via.placeholder.com/300x150" alt="Image 5" />
  </article>
</main>


    
    
<script src="./scripts/portfolio.js"></script>

{% render 'partials/foot.liquid' %}