<link rel="stylesheet" href="./styles/test.css">

<main id="sectionPin">
    <section class="pin-wrap-sticky">
        <h1>portfolio</h1>
        <p>my work in a timeline</p>
        
        <section class="pin-wrap">
            <article>
                <h2>dda agency 1</h2>
                <iframe src="https://user-experience-enhanced-website-pvnn.onrender.com/" frameborder="1"></iframe>
                <p>jan '25 - dec '26</p>
                <img src="https://via.placeholder.com/300x150" alt="Image 1" />
            </article>
            <article>
                <h2>dda agency 2</h2>
                <iframe src="https://user-experience-enhanced-website-pvnn.onrender.com/" frameborder="1"></iframe>
                <p>jan '25 - dec '26</p>
                <img src="https://via.placeholder.com/300x150" alt="Image 1" />
            </article>
            <article>
                <h2>dda agency 3</h2>
                <iframe src="https://user-experience-enhanced-website-pvnn.onrender.com/" frameborder="1"></iframe>
                <p>jan '25 - dec '26</p>
                <img src="https://via.placeholder.com/300x150" alt="Image 1" />
            </article>
            <article>
                <h2>dda agency 4</h2>
                <iframe src="https://user-experience-enhanced-website-pvnn.onrender.com/" frameborder="1"></iframe>
                <p>jan '25 - dec '26</p>
                <img src="https://via.placeholder.com/300x150" alt="Image 1" />
            </article>
            <article>
                <h2>dda agency 1</h2>
                <iframe src="https://user-experience-enhanced-website-pvnn.onrender.com/" frameborder="1"></iframe>
                <p>jan '25 - dec '26</p>
                <img src="https://via.placeholder.com/300x150" alt="Image 1" />
            </article>
        </section>
    </section>
    </main>

    <script src="./scripts/test.js"></script>