body {
    display: grid;
    grid-template-rows: 25vh 50vh 25vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    p.long-text {
        margin: 0 1rem 1rem;
    }

    img {
        width: 100%;
        height: 24vh;
        padding: 1rem;
        object-fit: cover;
        object-position: 0% 65%;
    }
}

::-webkit-scrollbar {
  display: none;
}