body {
  display: grid;
  grid-template-rows: 50vh 50vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    nav {
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        list-style-type: none;
      }

      a {
        transition: .3s ease;
      }
      a:hover {
        color: #b29be0;
      }
    }
}

img {
  width: 100%;
  height: 24vh;
  padding: 1rem;
  border-radius: var(--border-radius);
  object-fit: cover;
  
  &:nth-of-type(1) {
    object-position: 0% 65%;
  }
}


/* MARK: navigation styling / animation 
*/
.js .navigation {
  transform: translateY(-100%);
  opacity: 0;
  position: absolute;
  width: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.js .navigation.visible {
  transform: translateY(0);
  opacity: 1;
  position: relative;
}

.header .scroll-up {
  transition: transform 0.3s ease;
}

.header.nav-visible .scroll-up {
  transform: translateY(-2rem);
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}