body {
  display: grid;
  grid-template-rows: 50vh 50vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
  width: 100%;
  height: 50%;
  padding: 1rem;
  border-radius: var(--border-radius);
  object-fit: cover;
  
  :nth-of-type {
    object-position: 0% 65%;

  }
}


/* MARK: navigation styling / animation 
*/
.js .navigation {
  transform: translateY(-100%);
  opacity: 0;
  position: absolute;
  width: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.js .navigation.visible {
  transform: translateY(0);
  opacity: 1;
  position: relative;
}

.header .scroll-up {
  transition: transform 0.3s ease;
}

.header.nav-visible .scroll-up {
  transform: translateY(-2rem);
}
