body {
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

}


/* img:hover {
    content: url(../assets/photo-luna-color.jpg);
    } */
.positioning {
    position: absolute;
    img {
        width: 20em;
        border: var(--border);
        border-radius: 15px;
        
        &:hover {
                transition:.2s;
                transform: scale(1.1);
            }
        }
}

.brother {
    top: 12em;
    left: 1.5em;
    &:hover img {
        content: url(../assets/photo-brother-color.png);
    }
}

.noelle {
    top: 12em;
    left: 24em;
    &:hover img {
        content: url(../assets/photo-no-color.jpg);
    }
}
.family {
    top: 12em;
    left: 46em;
    &:hover img {
        content: url(../assets/photo-fam-color.png);
    }
}
.jaylinn {
    top: 12em;
    left: 68em;  
    &:hover img {
        content: url(../assets/photo-jay-color.png);
    }
}
.wout {
    top: 45em;
    left: 1.5em;
    &:hover img {
        content: url(../assets/photo-wout-color.jpg);
    }
}
.papa {
    top: 54em;
    left: 24em;
    &:hover img {
        content: url(../assets/photo-papa-color.png);
    }
}
.yoanna {
    top: 45em;
    left: 46em;
    &:hover img {
        content: url(../assets/photo-yoanna-color.jpg);
    }
}
.luna {
    top: 45em;
    left: 68em;
    &:hover img {
        content: url(../assets/photo-luna-color.jpg);
    }
}
.jongens {
    top: 65em;
    left: 1.5em;
    &:hover img {
        content: url(../assets/photo-jongens-color.jpg);
    }
}
.jay2 {
    top: 73em;
    left: 46em;
    &:hover img {
        content: url(../assets/photo-jay2-color.jpg);
    }
}
.luca {
    top: 87em;
    left: 24em;
    &:hover img {
        content: url(../assets/photo-luca-color.jpg);
    }
}

/* FOTO feestje papa + mama toeveogen + kleur foto no */