/* li {
	display: grid;
	grid-template-rows: min-content min-content;

	.text {
		grid-area: 1/1;
		z-index: 1;
		background-color: orange;
		height: min-content;
		width: max-content;
		text-align: center;
		align-self: center;
	}
	picture, 
	img {
		grid-area: 1/1;
		filter: grayscale(1);
	}
} */
header {
	padding: 1rem;
}

section {
	position: relative;
	top: 10vh;
	padding: 1rem 1rem 0;

	ul {
		.text {
			padding-bottom: 1rem;
		}
		picture, 
		img {
			margin-bottom: 1rem;
			filter: blur(1px) grayscale(1) opacity(0.5);
		}
		picture:hover,
		img:hover {
			filter: none;
			transition: .25s;
		}
	}
	
}

/* SCROLL */
ul {
	display: flex;
	gap: 1.5em;

	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior: contain;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

li {
	scroll-snap-align:center;
	scroll-snap-stop:always;			 /* een voor een scrollen */
	
}



/* BOLLETJES */
ul {
	/* om de buttons en bolletjes aan te ankeren */
	anchor-name:--carousel;

	scroll-marker-group: after;

	&::scroll-marker-group {
		position:absolute;
    	position-anchor:--carousel;
		position-area: bottom;
		
		margin-block-start:1em;
		height:1em;	
		
		display: flex;
    	gap: .75em;
  }
}

li {
	&::scroll-marker {
		content: '' / attr(data-label);
		
		width:.5em;
		height: .5em;
		aspect-ratio:1em;
		background-color:#fff;
		border-radius:50%;
		
		transition:.25s;
	}

	&::scroll-marker:target-current {
		background: orange;
	}
}


/* PIJLTJES */
ul {
	&::scroll-button(*) {
		position: absolute;
		position-anchor:--carousel;


		aspect-ratio:1;
		
		background-color: var(--background-color);
		border-radius:50%;
		border:none;
		
		font:inherit;
		
		transition:.3s;
	}
	 &::scroll-button(left) {
		content: '←' / 'Previous';
		
		color: orange;
		position-area: bottom span-right;
		margin-inline-start:.5em;
  }
	
	&::scroll-button(right) {
    	content: '→' / 'Next';
		
		color: orange;
		position-area: bottom span-left;
		margin-inline-end:.5em;
  }
	
	&::scroll-button(*):disabled {
		opacity:.5;
	}
}

img {
	width: min(24em, 80vw);
	display: block;
	height: 50vh;
}