@font-face {
    font-family: "coolvetica regular";
    src: url(../assets/fonts/coolvetica-regular.woff2) format(woff2);
}

@font-face {
    font-family: "raleway regular";
    src: url(../assets/fonts/Raleway-Regular.woff2) format(woff2);
    font-weight: 400;
}

@font-face {
    font-family: "raleway bold";
    src: url(../assets/fonts/Raleway-Bold.woff2) format(woff2);
    font-weight: 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* CUSTOM PROPERTIES */
    --primary-font: "coolvetica regular";
    --secondary-font: "raleway regular";
    --tertiary-font: "raleway bold";

    --background-color: rgb(16, 16, 16);
    --text-color: rgb(247, 247, 247);

    --border-radius: 1.5rem;

    background-color: var(--background-color);
    
}

h1,
h2, 
p,
a {
    color: var(--text-color);
}

h1, h2 {
    font-family: var(--primary-font);
}

h1,
.xl {
    font-size: clamp(3rem, 6vw, 3.5rem);
}
h2,
.lg {
    font-size: clamp(2rem, 5vw, 2.5rem);
}
p {

}

p,
a {
    font-family: var(--tertiary-font);
    font-style: italic;
    font-size: 1rem;
}

a {
    text-decoration: none;
}