@font-face {
    font-family: "coolvetica regular";
    src: url(../assets/fonts/coolvetica-regular.woff2) format(woff2);
}

@font-face {
    font-family: "raleway regular";
    src: url(../assets/fonts/Raleway-Regular.woff2) format(woff2);
    font-weight: 400;
}

@font-face {
    font-family: "raleway bold";
    src: url(../assets/fonts/Raleway-Bold.woff2) format(woff2);
    font-weight: 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* CUSTOM PROPERTIES */
    --primary-font: "coolvetica regular";
    --secondary-font: "raleway regular";
    --tertiary-font: "raleway bold";

    --background-color: rgb(16, 16, 16);
    --text-color: rgb(247, 247, 247);

    --border-radius: 1.5rem;

    background-color: var(--background-color);

    --gradient:   
        radial-gradient(
            48.16% 48.16% at 50% 50%,  /* De positie van het middelpunt van de gradient */
            #4f3da7 0%, 
        rgba(104, 81, 194, 0) 100%
        );  
    /* --star-1: 
        position: fixed;
        background-image: url('/assets/images/star-1.svg');
        background-repeat: no-repeat; */
}

h1,
h2, 
p,
a {
    color: var(--text-color);
}

h1, h2 {
    font-family: var(--primary-font);
}

h1,
.xl {
    font-size: clamp(3rem, 6vw, 3.5rem);
}
h2,
.lg {
    font-size: clamp(2rem, 5vw, 2.5rem);
}
p.long-text {
    font-family: var(--secondary-font);
    font-style: normal;
}

p,
a {
    font-family: var(--tertiary-font);
    font-style: italic;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

img {
    border-radius: var(--border-radius);
}


.gradient-ellipse-1 {
  position: fixed;  
  width: 753px;
  height: 753px;
  left: 2.5rem;
  bottom: -26rem;  /* Dit plaatst het element op de juiste plek op het scherm */
  
  background: var(--gradient);
  
  opacity: 0.2;
  pointer-events: none;  /* Zorgt ervoor dat het element geen muisinteracties blokkeert */
  z-index: -1;  /* Plaatst het achter andere content */
}

.gradient-ellipse-2 {
  position: fixed;  
  width: 753px;
  height: 753px;
  left: -25rem;
  bottom: -20rem;  /* Dit plaatst het element op de juiste plek op het scherm */
  
  background: var(--gradient);
  
  opacity: 0.2;
  pointer-events: none;  /* Zorgt ervoor dat het element geen muisinteracties blokkeert */
  z-index: -1;  /* Plaatst het achter andere content */
}

.gradient-ellipse-3 {
  position: fixed;  
  width: 753px;
  height: 753px;
  right: -10rem;
  top: -25rem;  /* Dit plaatst het element op de juiste plek op het scherm */
  
  background: var(--gradient);
  
  opacity: 0.2;
  pointer-events: none;  /* Zorgt ervoor dat het element geen muisinteracties blokkeert */
  z-index: -1;  /* Plaatst het achter andere content */
}

.star-1 {
        /* top: 1000px;   
        left: 50px;   
        width: 1rem;  
        height: 1rem;    */
}