body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

header {
    grid-column: 1/3;
    
    h1, p {
        text-align: center;
        padding: 0 18rem;
    }

}

.introduction {
    grid-column: 1;
    padding-left: 1rem;
    position: relative;

    img.bottom-corner {
        height: 18em;
        float: right;
        border: var(--border);
        border-radius: 200px 200px 0 0;
        margin: .5rem;
    }
}

.explanation {

}

.portfolio {
    padding-left: 1rem;

    .btn-link {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;

        border-radius: 50px;
        width: fit-content;
        padding: .5rem 1.5rem;

        span {
            font-family: var(--primary-font);
            color: black;
        }
        img {
            height: 2rem;
        }
        img:last-child {
            border-radius: 20px;
        }

        .btn-link span:hover {
            color: orange;
        }
    }
}
